$bg-color: #ebeef3;
$base-color: #ffffff;

$success-color: #52c41a;
$info-color: #1890ff;
$calendula-color: #faad14;
$error-color: #f5222d;

$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$disabled-color: rgba(0, 0, 0, 0.35);
$shadow-color: rgba(0, 0, 0, 0.15);

$label-color: #262626;
$modal-color: #595959;
$footnote-color: #8c8c8c;
$placeholder-color: #bfbfbf;
$border-color: #d9d9d9;
$hr-color: #e8e8e8;

$content-size: 70%;
