@use '../../styles/vars.scss' as vars;

.signup {
  width: 380px;
  margin: 60px auto;
  background: vars.$base-color;
  padding: 48px 32px;
  font-family: 'Roboto';
  border: 1px solid vars.$border-color;
  box-shadow:
    0px 22px 106px rgba(0, 0, 0, 0.07),
    0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
    0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
    0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  border-radius: 6px;

  &__title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin: 21px 0;
  }

  &__line {
    height: 1px;
    width: 100%;
    background: vars.$hr-color;
  }

  &__agree {
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 400;
    margin: 8px 0 15px;
    color: vars.$modal-color;
    font-style: italic;

    &.has-error {
      margin-bottom: 5px; // Убираем нижний отступ, если есть ошибка
    }

    input[type='checkbox'] {
      margin-right: 8px;
      transform: scale(1.2);
    }
  }
  &__quest {
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
    color: vars.$footnote-color;
    a {
      color: vars.$info-color;
    }
  }
}
